[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=harbour-nettiradio
Exec=sailfish-qml harbour-nettiradio
Name=Nettiradio
Name[en]=Netradio
Name[fi]=Nettiradio

[X-Sailjail]
Permissions=Audio;Internet
OrganizationName=harbour-nettiradio
ApplicationName=harbour-nettiradio
